* {
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* sets 1rem equal to 10px */
html {
    font-size: 62.5%;
}
/* This is part of the nav bar it contains my name and Navbar */
header {
    background-color: rgb(83, 81, 81);
    padding: 1rem;
    position: relative;
    z-index: 10;
   
}
/* this is the formating & styling for my Name Lauren C. Norgard */
h1 {
    font-size: 3rem;
    background-color: #B0CDB6;
    padding-left: 4%;
    width: 30%;
    position: relative;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    text-align: right;
  
   
}
/* This is my subtitle, it contains coder, climber, mom */
h2 {
    background-color: #B0CDB6;
    position:absolute;
    bottom: 15px;
    right: 30px;
    padding: 10px;
    font-size: 2.5rem;
}

/* This is my about me paragraph */
.paragraph {
    width: 70%;
    font-size: 2.0rem;
    margin-top: 15px;
    margin-left: 2rem;
  
  
}
/* styling for my header navbar location */

header nav {
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 30px;
   
    
    
}
/* nav bar unordered list links styling */
nav ul li {
    color:#B0CDB6;
    margin-left: 25px;
    border-bottom: solid 5px #B0CDB6;
    
    
}
/* nav bar unordered list items styling */
ul li {
  list-style-type: none;
  display: inline-block; 
  padding: 5px; 
}
/* styling-font color for ul li a*/
nav ul li a {
    color: #B0CDB6;
}
/* al anchor font-size and formatting */
a {
    text-decoration: none;
    font-size: 1.7rem;
    
}
/* decorative image at the top of page, doesn't require alt tag */

.header-image {
    width: 100%;
    height: 5%;
}
/* sea turtle image formating */
.surf-image {
    height: 40rem;
    width: 100%;
    border:#B0CDB6 solid 5px;
    
}

/* small images: LED wall, calculator, pastel puzzle, run buddy */
.sml-image {
    height: 28rem;
    border:#B0CDB6 solid 5px;
}

/* subtitle header container (coder, climber, mom) */
.container {
    position: relative;
    display: flexbox;
}

/* contains styling for titles for each image */
.content-container {
    background-color: #B0CDB6;
    display:inline-block;
    position:absolute;
    bottom: 2rem;
    left: 0;
    padding: 1rem;
}

/* contains all 5 images in work section */
.all-image-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;   
}
/* contains two images side by side */
.small-image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    margin-bottom: 2rem;
}
/* sets all image opacity to 50% */
.image-box {
    position: relative;
    opacity: 0.5;
}

  /* all images on hover become 100% colorful again */
.image-box:hover {
    opacity: 1.0;
    cursor: pointer;
  }

/* aligns the section headers on teh left side of the page */
.section-header{
    width: 25%;
    border-right: .5rem solid rgb(83, 81, 81);
    font-size: 4rem;
    color: rgb(83, 81, 81);
    text-align: right;
    padding-right: 1rem;
}
/* puts main content to the right side of hte page */
.main-content {
    width: 70%;
    margin-left: 2rem;
    font-size: 2rem;
}
/* this is the footer unordered list */
.footer-container ul li {
    color:rgb(83, 81, 81);
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
    padding-right: 12px;
    padding-left: 12px;
    font-size: 1.7rem;
    font-family:sans-serif ;
    
}
/* this contains the footer information */
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/* formatting for footer unordered list */
.footer-container ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
   
}
/* this was added as a way to clean up the spacing when in a mobile version */
.break {
    margin-right: -64px;
    flex-basis: 0;
}
/* footer container unordered list a colors and border */
.footer-container ul li a {
    color:rgb(83, 81, 81);
    border-bottom: solid 5px rgb(83, 81, 81);
}
/* this spaces out the 3 main sections */
.section-box {
    display: flex;
    margin-bottom: 2rem;
}
/* class for all my H4, probably didn't need. */
.box-title {
    font-size: 2rem;
    margin-bottom: .5rem;
}
/* h4 paragraph font size */
.box-title p {
    font-size: 1.5rem;
}


@media screen and (max-width:992px) {
    .sml-image {
        width: 100%;
    }
    .first-image {
        margin-bottom: 2rem;
    }
    .footer-container ul {
        flex-wrap: wrap;
    }
    .break {
        flex-basis: 100%;
        height: 2rem;
    }
    
}

@media screen and (max-width:768px) {

    h1 {
       width: 100%;
        top: 0%;
        right: 0%;
    }
    header {
        padding: 0;
    }
    header nav {
        position: relative;
        top: 0%;
        left: 0%;
    }
    .section-header {
        width: 100%;
        border-right: none;
        border-bottom: dotted 7px #B0CDB6;
        padding-right: none;
        text-align: center;
    }
    .section-box {
        flex-direction: column;
    }
    #break {
        height: 0;
    }
    .footer-container ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
        
       
    }
}